form
	div.form-group
		label #{voice.label}
		div.form-check
			each voiceItem, index in voices
				div.form-check-inline
					label.form-check-label
						input.form-check-input(
							type='radio'
							name=voice.name
							value=voiceItem.value
							checked=(!index ? true : false)
							onchange=`onVoiceChange(${JSON.stringify(voiceItem)})`
						)
						span #{voiceItem.label}

	div.form-group
		label(for=text.id) #{text.label}
		textarea(
			id=text.id
			type='text'
			name=text.id
			placeholder=text.label
			autofocus
			minlength=text.minLength
			maxlength=text.maxLength
			required
		).form-control

	div.form-group
		label(for=language.id) #{language.label}
		input(
			id=language.id
			type='text'
			name=language.id
			placeholder=language.label
			value=language.value
			minlength=language.minLength
			maxlength=language.maxLength
			required
		).form-control

	div.form-group
		label(for=voiceCode.id) #{voiceCode.label}
		input(
			id=voiceCode.id
			type='text'
			name=voiceCode.id
			placeholder=voiceCode.label
			value=voiceCode.value
			maxlength=voiceCode.maxLength
		).form-control

	div.form-group
		label(for=speed.id) #{speed.label}
		input(
			id=speed.id
			type='number'
			name=speed.id
			placeholder=speed.label
			value=speed.value
			min=speed.min
			max=speed.max
			step=speed.step
		).form-control

	div.form-group
		label(for=pitch.id) #{pitch.label}
		input(
			id=pitch.id
			type='number'
			name=pitch.id
			placeholder=pitch.label
			value=pitch.value
			min=pitch.min
			max=pitch.max
			step=pitch.step
		).form-control

	div.form-group
		label(for=tempo.id) #{tempo.label}
		input(
			id=tempo.id
			type='number'
			name=tempo.id
			placeholder=tempo.label
			value=tempo.value
			min=tempo.min
			max=tempo.max
			step=tempo.step
		).form-control

	div.form-group
		label(for=gain.id) #{gain.label}
		input(
			id=gain.id
			type='number'
			name=gain.id
			placeholder=gain.label
			value=gain.value
			min=gain.min
			max=gain.max
			step=gain.step
		).form-control

	div.form-group
		label(for=delay.id) #{delay.label}
		input(
			id=delay.id
			type='number'
			name=delay.id
			placeholder=delay.label
			value=delay.value
			min=delay.min
			max=delay.max
			step=delay.step
		).form-control

	div.form-group
		label #{modifiers.label}
		div.form-check
			div.form-check-inline
				label.form-check-label
					input.form-check-input(
						id=slowReading.id
						type='checkbox'
						name=slowReading.id
					)
					span #{slowReading.label}

			div.form-check-inline
				label.form-check-label
					input.form-check-input(
						id=reverse.id
						type='checkbox'
						name=reverse.id
					)
					span #{reverse.label}

			div.form-check-inline
				label.form-check-label
					input.form-check-input(
						id=reverb.id
						type='checkbox'
						name=reverb.id
					)
					span #{reverb.label}

			div.form-check-inline
				label.form-check-label
					input.form-check-input(
						id=robot.id
						type='checkbox'
						name=robot.id
					)
					span #{robot.label}

	button(
		onclick='onSubmit(event)'
	).btn.btn-primary
		span Submit
